@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  overflow: hidden;
}

h4 {
  text-align: center;  
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;  
  position: relative;
}

.background .background-Logo{
  width: 50%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 10;
}

.background .background-Logo .background-Logo-group{
  width: 50%;
  padding-top: 2rem;
  padding-left: 12%;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.background .background-Logo .background-Logo-group h1{
  font-size: 96px;
  padding-right: 120px;
  margin-top: 44px;
  font-weight: 500;
}

.background .background-Logo .background-Logo-group h1 span{
  color: #148FCF;
}

.background .background-Form{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D0E4FB;
  position: relative;
}

.background .background-Form .footer-img{
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
  z-index: 1;
}

::-webkit-scrollbar {
  height: 6px;
  width: 18px;
}

::-webkit-scrollbar-thumb {
  background-color: #C2C2C2;
  border-radius: 20px;
  border: 7px solid white;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; 
}

*{
  scrollbar-width: thin;
}

.login-container {
  width: 350px;
  background: #fff;
  padding: 38px 50px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 82%;
}

.login-container .form-header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}

.login-container .form-header img{
  margin-bottom: 20px;
}

.login-container .form-header h2{
  font-weight: 700;
}

 h4{
  font-size: 18px;
  font-weight: 500;
}

.login-container h2 {
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.form-group {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#exame{
  margin-top: 2px;
}

.form-group-wh {
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.form-group-wh label {
  font-weight: 500;
  font-size: 16px;
}

.form-group-wh .form-group-weight{
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: flex-start;
}

.form-group-wh .form-group-height{
  display: flex;
  flex-direction: column;
  width: 30%;
}

.form-group-wh  input {
  padding-top: 10px;
  width: 100%;
  color: #ABABAB;
  border: none;
  border-bottom: 1px solid #000000;
  outline: none;
  font-size: 14px;
}

.form-group label {
  font-weight: 500;
  font-size: 16px;
}

.form-group input {
  font-size: 14px;
  padding: 10px 0;
  color: #ABABAB;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;

}

.blood{
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.checkbox{
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  width: 25%;
}

.form-group select{
  margin-top: 10px;
}

h4.second-subtitle{
  margin-bottom: 40px;
}

.form-btns{
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  gap: 10px 0;
}


.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login-button {
  background-color: #007BFF;
  color: #fff;
  width: 90%;
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}

.login-button:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 968px) {
  .background .background-Logo{
    display: none;
  }

  .background .background-Form{
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .login-container{
    width: 275px;
  }

  .checkbox{
    width: 30%;
  }

  .login-button{
    width: 100%;
  }

}
