<!DOCTYPE html>
<html>

<head>
  <title>ForHealth Dashboard</title>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../static/css/dynamic.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fontsource-inter@4.22.0/index.css">
</head>

<body>
  <div class="background"></div>
  <div class="container">

    <div class="login-container">
      <h2>ForHealth Dashboard</h2>
      <div>
        <label for="month-dropdown">Selecione um mês:</label>
        <select id="month-dropdown" name="month">
          {% for month in unique_months %}
          <option value="{{ month }}" {% if month==selected_month %}selected{% endif %}>{{ month }}</option>
          {% endfor %}
        </select>
      </div>

      <div id="plotly-chart">
        {{ plot_div|safe }}
      </div>
    </div>
    <div class="login-container">
      <div id="plotly-chart2">
        {{ plot_div2|safe }}
      </div>
    </div>
  </div>

  <div id="plotly-chart3">
    {{ plot_div3|safe }}
  </div>

  <div id="plotly-chart4">
    {{ plot_div4|safe }}
  </div>

  <script>
    $(document).ready(function () {
      $('#month-dropdown').change(function () {
        var selectedMonth = $('#month-dropdown').val();
        window.location.href = '/dynamic-insigths?month=' + selectedMonth;
      });
    });
  </script>
</body>

</html>