<!DOCTYPE html>
<html>

<head>
  <title>Gráfico Plotly</title>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
  <h1>Gráficos Plotly</h1>

  <div id="plotly-chart1">
    {{ plot_div1|safe }}
  </div>
  <!-- 
  <div id="plotly-chart2">
      {{ plot_div2|safe }}
  </div>

  <div id="plotly-chart3">
      {{ plot_div3|safe }}
  </div> -->



  <!-- <h1>Gráficos Plotly</h1>

  {% for plot_div in plot_divs %}
  <div class="plotly-chart">{{ plot_div|safe }}</div>
  {% endfor %} -->
</body>

</html>